<div>
    <b-button-group>
      <b-button>Start</b-button>
      <b-button>Stop</b-button>
      <b-button>Snapsot</b-button>
      <b-button>Downlolad</b-button>

      <b-dropdown v-if="camera" id="camera-facing" right split text="Camera Facing">
        <!-- <b-dropdown-item-button v-for="(device, index) in camera.devices" :key="index">{{device}}</b-dropdown-item-button> -->
        <!-- <b-dropdown-item.button>Item 2</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item>Item 3</b-dropdown-item>-->

      
      </b-dropdown>
    </b-button-group>
  </div>